@use "../../sass/index.scss" as *;

.products_list_container {
  margin-bottom: 20px;

  .filter_container {
    @include flex(center, space-around);
    margin: 100px 200px;
    button {
      color: black;
      text-decoration: none;
      font-size: 30px;
      background: none;
      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}
