@use "../../sass/index.scss" as *;

.set_products {
  width: $max-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 10px;
  margin-bottom: 30px;
  .loader {
    position: $abs;
    @include flex(center, center);
  }

  img {
    width: $max-content;
    height: 180px;
    margin: 10px;
    background: #f5f5f5;
    cursor: $curs;
    &:hover {
      transform: $transform;
    }
  }
  .card {
    margin: 20px 20px;
    width: 300px;
    height: 60vh;
    padding: 30px;
    border: 2px solid $white;
    border-radius: 30px;
    .card-description {
      @include flex(center, center);
      flex-direction: column;
      padding: 15px;
      h6 {
        color: $dark;
        font-size: 15px;
      }
      .price {
        font-weight: $font;
        font-size: 1.1rem;
        margin: 20px;
        color: $dark;
      }
      .add {
        cursor: $curs;
        width: $max-content;
        padding: 15px;
        background: linear-gradient(130deg, #fdc527 0%, #fea01a $max-content);
        color: $white;
        font-weight: $font;
        border: 0px;
        border-radius: 20px;
        @include flex(center, center);
        &:hover {
          transform: $transform;
        }
      }
    }
  }

  .filters {
    position: $abs;
    @include flex(center, center);
    margin-top: -60px;
    .filter {
      margin: 20px;
      background: none;
      font-size: 20px;
      cursor: $curs;
      &:hover {
        color: gold;
        transform: $transform;
      }
    }
  }
}

@media (max-width: 1000px) {
  .set_products {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    background: $white;
    img {
      aspect-ratio: auto;
    }
  }
  .filters {
    position: $abs;
    left: 0;
    right: 0;
    background: $white;
    overflow-x: auto;
    .filter {
      font-size: 1rem !important;
    }
  }
}
