@use "../../sass/index.scss" as *;

.set_products {
  width: 100%;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  padding: 10px;
  position: absolute;

  .loader {
    position: absolute;
    @include flex(center, center);
  }

  img {
    width: 100%;
    height: 150px;
    background: none;
    &:hover {
      transform: scale(1.1);
    }
  }
  .card {
    @include flex(center, center);
    flex-direction: column;
    margin: 20px 20px;
    border: 1px solid #ccc;
    width: 90%;
    height: 50vh;
    padding: 20px;

    .card-description {
      @include flex(center, center);
      flex-direction: column;
      padding: 10px;
      overflow: hidden;
      h6 {
        color: black;
        font-size: 15px;
        margin-bottom: 10px;
      }
      .price {
        font-size: 20px;
      }
      .buy {
        border: 1px solid #ccc;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .filters {
    position: absolute;
    @include flex(center, center);
    margin-top: -50px;
    .filter {
      margin: 20px;
      background: none;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        color: gray;
        transform: scale(1.1);
      }
    }
  }
}
