@use "../../sass/index.scss" as *;

.slider_container {
  margin-bottom: 100px;
  position: relative;
  img {
    object-fit: cover;
    max-height: 450px;
    max-width: $max-content;
    margin-top: 100px;
    margin-left: 30px;
  }
  .swiper-button-prev {
    color: white;
    background: $dark;
    width: 40px;
    margin-left: 50px;
    border-radius: 20px;
  }
  .swiper-button-prev:after {
    font-size: 20px;
  }
  .swiper-button-next {
    color: white;
    background: $dark;
    width: 40px;
    margin-right: 50px;
    border-radius: 20px;
  }
  .swiper-button-next:after {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .slider_container {
    position: fixed;
    z-index: 0;
  }
  .swiper-button-prev {
    position: fixed;
    z-index: 0;
    background: white;
    color: white;
  }
  .swiper-button-next {
    position: fixed;
    z-index: 0;
    background: white;
    color: white;
  }
}
