@use "../../sass/index.scss" as *;

.cart {
  margin-top: 130px;
  margin-left: 150px;
  .cart_container {
    margin-bottom: 30px;
    hr {
      border: 1px solid black;
      width: 80%;
    }
    button {
      font-size: 20px;
      background: none;
      cursor: pointer;
      position: absolute;
      margin-top: 10px;

      &:hover {
        transform: scale(1.1);
        color: gray;
      }
    }

    h1 {
      position: absolute;
      margin-top: -280px;
      font-size: 1.5rem;
      font-weight: bolder;
      left: 400px;
    }
    img {
      width: 200px;
      height: 200px;
      margin: 40px 10px 50px;
      cursor: pointer;
    }
    .product_price {
      position: absolute;
      margin-top: -200px;
      font-size: 1.5rem;
      font-weight: bolder;
      left: 400px;
    }
    .checkout {
      position: absolute;
      margin-top: -110px;
      cursor: pointer;
      font-size: 1.5rem;
      font-weight: bolder;
      left: 400px;
      border: 1px solid aqua;
      border-radius: 10px;
    }
  }
}

.empty_image {
  @include flex(center, center);
  img {
    height: 100vh;
    margin: -100px;
    width: 600px;
    background-image: none;
  }
}
