@use "../../sass/index.scss" as *;

.cart {
  margin-top: 130px;
  margin-left: 150px;
  .cart_container {
    margin-bottom: 30px;
    hr {
      border: 1px solid black;
      width: 95%;
    }
    button {
      font-size: 20px;
      background: none;
      cursor: $curs;
      position: $abs;
      margin-top: 10px;
      &:hover {
        transform: scale(1.1);
      }
    }

    h1 {
      position: $abs;
      margin-top: -280px;
      font-size: 1.5rem;
      font-weight: $font;
      left: 400px;
    }
    img {
      width: 200px;
      height: 200px;
      margin: 40px 10px 50px;
      cursor: $curs;
    }
    .product_price {
      position: $abs;
      margin-top: -200px;
      font-size: 1.5rem;
      font-weight: $font;
      left: 400px;
    }
    .increment {
      position: $abs;
      margin-top: 230px;
      cursor: $curs;
      font-size: 1.5rem;
      font-weight: $font;
      left: 400px;
      border-radius: 10px;
      &:hover {
        color: green;
      }
    }
    .decrement {
      position: $abs;
      margin-top: 230px;
      cursor: $curs;
      font-size: 1.5rem;
      font-weight: $font;
      left: 450px;
      border-radius: 10px;
      &:hover {
        color: red;
      }
    }
    .quantity {
      position: $abs;
      margin-top: -130px;
      cursor: $curs;
      font-size: 1.5rem;
      font-weight: $font;
      left: 400px;
      border-radius: 10px;
    }
  }
}

.empty_image {
  @include flex(center, center);
  img {
    height: 100vh;
    margin: -100px;
    width: 600px;
    background-image: none;
  }
}
