@use "../../sass/index.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&family=Nunito:wght@900&family=Poppins:ital,wght@0,100;0,200;1,100&display=swap");

* {
  &.scrolled {
    background: $white;
  }
  img.store_image {
    width: 50%;
    border-radius: 100px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: $box-shadow;
    @include flex(center, space-between);
    padding: 1rem 9%;
    color: $dark;
    .logo {
      font-size: 2.5rem;
      font-weight: $font;
      color: $dark;
      i {
        padding-right: 0.5rem;
        color: rgba(225, 225, 225, 0.1);
        background-image: url("https://media.istockphoto.com/vectors/colorful-abstract-geometric-background-vector-id689899998?k=20&m=689899998&s=612x612&w=0&h=MLmg5w8lsZ7S4zErmZAAKMudXt07D6S0XqlG74H0FBo=");
        background-repeat: repeat-x;
        -webkit-background-clip: text;
        animation: animate 15s linear infinite;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
    }
  }
  .navbar {
    div {
      height: 2.5rem;
      width: 2.5rem;
      line-height: 2.5rem;
      font-size: 3rem;
      color: $dark;
      border-radius: 0.5rem;
      cursor: pointer;
      color: $dark;
      &:hover {
        color: darkgray;
        text-decoration: underline;
      }
    }
  }
  .icons {
    @include flex("", "");
    height: 3rem;
    width: 2.5rem;
    line-height: 2.5rem;
    font-size: 2rem;
    cursor: pointer;
    .length {
      font-size: 20px;
      position: absolute;
      margin-top: -18px;
      color: $dark;
    }
    .icons_wrapper {
      margin-left: 20px;
    }
  }
}

@keyframes animate {
  0% {
    background-position: left 8px top 10px;
  }
  40% {
    background-position: left 800px top 10px;
  }
}
