@use "../../sass/index.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200&family=Nunito:wght@900&family=Poppins:ital,wght@0,100;0,200;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;

  .header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: $white;
    box-shadow: $box-shadow;
    @include flex(center, space-between);
    padding: 1rem 9%;

    .logo {
      font-size: 2.5rem;
      font-weight: bolder;
      color: $black;
      i {
        padding-right: 0.5rem;
        color: $green;
      }
    }
  }
  .navbar {
    a {
      font-size: 1.5rem;
      margin: 0 1rem;
      color: $light-color;
      &:hover {
        color: $green;
        text-decoration: underline;
      }
    }
  }
  .icons {
    display: flex;
    div {
      height: 2.5rem;
      width: 2.5rem;
      line-height: 2.5rem;
      font-size: 2rem;
      color: $black;
      border-radius: 0.5rem;
      margin-left: 0.3rem;
      cursor: pointer;
    }
    &:hover {
      color: $white;
      cursor: pointer;
    }
  }
}
