@use "../../sass/index.scss" as *;

.login {
  width: $max-content;
  min-height: 100vh;
  @include flex(center, center);
  flex-direction: column;
  .login_inputs {
    @include flex(center, "");
    flex-direction: column;
    text-align: center;

    input {
      padding: 10px;
      width: 300px;
      border: 1px solid #cecece;
      margin: 20px 0;
      cursor: pointer;
    }
    small {
      color: red;
    }
    .login_button {
      padding: 10px;
      width: 300px;
      margin: 20px 0;
      background-color: black;
      color: $white;
      cursor: pointer;
    }
  }
}
.login_container {
  @include flex(center, center);
  margin-top: 8rem;
  form {
    box-shadow: -3px 2px 31px -7px rgba(0, 0, 0, 0.75);
    padding: 30px;
  }
  button{
    margin-top: 20px;
  }
  input{
    margin-bottom: 20px;
  }
}
