@use "../../sass/index.scss" as *;

.details {
  margin-top: 120px;
  .details_left {
    height: $max-content;
    width: 50%;
    position: $abs;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    img {
      width: 400px;
      height: 400px;
      margin-top: 170px;

      margin-left: 200px;
      cursor: $curs;
    }
  }

  .details_right {
    width: 600px;
    position: $abs;
    right: 50px;
    .quantity {
      .increment {
        background: none;
        cursor: pointer;
        font-size: 2rem;
        font-weight: $font;
        &:hover {
          color: green;
        }
      }
      .decrement {
        background: none;
        font-size: 2rem;
        cursor: pointer;
        position: $abs;
        left: 50px;
        font-weight: $font;
        &:hover {
          color: red;
        }
      }
    }
    @include flex("", "");
    flex-direction: column;
    h4 {
      font-size: 2rem;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.5);
      --bs-text-opacity: 1;
    }
    h1 {
      font-size: 2.5rem;
      font-weight: $font;
    }
    p {
      font-size: 1.25rem;
      font-weight: $font;
    }
    .star {
      color: yellow;
      font-size: 1.5rem;
      margin-left: 5px;
    }
    h3 {
      font-weight: 700;
      font-size: 2.5rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
    .sides {
      .add_cart {
        background: none;
        color: $dark;
        font-weight: $font;
        margin: 30px 0px 10px;
        font-size: 1rem;
        cursor: $curs;

        &:hover {
          transform: scale(1.1);
        }
      }
      .buy_now {
        position: $abs;
        background: none;
        color: $dark;
        font-weight: $font;
        margin: 30px 30px 10px;
        font-size: 1rem;
        background: none;
        cursor: $curs;
        &:hover {
          transform: scale(1.1);
          color: green;
        }
      }
    }
  }
}

.modal_image {
  width: 300px;
  height: 300px;
  cursor: $curs;
  margin-top: 30px;
  pointer-events: none;
  &:hover {
    transform: scale(1.1);
  }
}

.modal_close {
  background: none;
  position: $abs;
  cursor: $curs;
  font-weight: $font;
  overflow: hidden;
}
